<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId:-},%X{spanId:-}] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/satyacheck-backend.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId:-},%X{spanId:-}] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/satyacheck-backend-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="JsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/satyacheck-backend-json.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/satyacheck-backend-json-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.satyacheck" level="INFO" />
    
    <!-- Third-party Library Loggers -->
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.data.mongodb" level="INFO" />
    <logger name="org.mongodb.driver" level="WARN" />

    <!-- Actuator and Metrics -->
    <logger name="org.springframework.boot.actuate" level="INFO" />
    <logger name="io.micrometer" level="INFO" />

    <!-- Production profile specific settings -->
    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="JsonFile" />
            <appender-ref ref="Console" />
        </root>
        <logger name="com.satyacheck" level="INFO" />
    </springProfile>

    <!-- Development profile specific settings -->
    <springProfile name="dev,default">
        <root level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </root>
        <logger name="com.satyacheck" level="DEBUG" />
    </springProfile>

    <!-- Test profile specific settings -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.satyacheck" level="DEBUG" />
    </springProfile>
</configuration>